<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3>signin</h3>
        <form action="/signin" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Username" required>
            <br>
            <label for="">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <br>
            
            <button type="submit">Sign In</button>
            <br>


        </form>



    </body>
</html>